.header {
    background-image: url('../images/banner-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    }

.logo {
    margin-left: 210px;
}


.burger-menu {
    display: none;
}

.menu_box {
    max-width: 988px;
    position: absolute;
    font-size: 0.8em;
    right: 245px; 
    top: 57px;    
}

.menu_list {
    display: flex;
    justify-content: right;
    gap: 35px;
}

.menu_list__item {
    color:#fff;
    text-transform: uppercase;
}

a {
    color: #fff;
    text-decoration: none;
}

.menu_list__item:hover {
    text-decoration: underline;
}

.trand_list {
    /* height: 348px; */
    max-height: 320px;
    display: flex;
    justify-content: center;
    gap: 5px;
    padding-left: 0;
}

.trand_list__item1 {
    width: 25%;
    background: #000;
    background-image: url('../images/trend1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.trand_list__item2 {
    width: 25%;
    background: #000;
    background-image: url('../images/trend2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.trand_list__item3 {
    width: 25%;
    background: #000;
    background-image: url('../images/trend3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}

.trand_list__item4 {
    width: 25%;
    background: #000;
    background-image: url('../images/trend4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
