.header {
    background-image: url('../images/banner-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

.menu_box {
    display: none;
}

.burger-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 52px;
    right: 15px; 
} 

.first_line, .second_line, .third_line {
    width: 23px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}

.trand_list {
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-left: 0;
}

.trand_list__item1 {
    width: 100%;
    background: #000;
    background-image: url('../images/trend1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.trand_list__item2 {
    width: 100%;
    background: #000;
    background-image: url('../images/trend2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

.trand_list__item3 {
    width: 100%;
    background: #1f1b1b;
    background-image: url('../images/trend3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.trand_list__item4 {
    width: 100%;
    background: #000;
    background-image: url('../images/trend4.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}