@import "fonts.css";

html, body, h1, h2, h3, p, ul, li {
    margin: 0;
    }

ul {
    list-style-type: none;
}

body {
    max-width: 1920px;
    margin: auto;
    color: #0f0d0e;
    font-family: "OpenSans", sans-serif;
    font-style: normal;
    background-color: #fff;
}

.header {
    min-height: 391px;
    border: 1px solid black;
    text-align: center;
    position: relative;
    z-index: 1;
}

.header:before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    left:0px;
    position: absolute;
    z-index: -1;
}

h1 {
    max-width: 700px;
    margin-top: 185px;
    font-size: 2.8em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 125px;
    line-height: 1.7; 
    font-weight: 700;
    color:#fff;
    z-index: 2;
}

.logo {
    box-sizing: border-box;
    width: 158px;
    height: 36px;
    left: 35px;
    top: 50px;
    position: absolute;
}

/* Trand */
.trand_section {
    position: relative;
    text-align: center;
    margin:  50px 0 50px 0;
    left: 0;
    background-color: #fff;
}

.trand_title {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
}

.trand_title__line {
    width: 70px;
    border-top: 5px solid #e1d9bd;
    /* opacity: 0.8; */
    margin: 13px auto 17px auto;
}

.trand_list {
    position: relative;
}

.tags {
    display: flex;
    padding-left: 0px;
    gap: 20px;
}

.tags__name {
    color: #b59f5b;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;  
}

.tags__name:hover {
    text-decoration: underline;
}

.trand_name {
    display: flex;
    box-sizing: border-box;
    height: 320px;
    width: 100%;
    /* background-color: #0f0d0e; */
    text-transform: uppercase;
    /* opacity: 0.6; */
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: #fff;
    text-align: left;
    align-items: flex-end;
}

.trand_name::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    background-color: #0f0d0e;
    opacity: 0.6;
    /* background-color: rgba(0, 0, 0, 0.1); */
    z-index: 1;
}

.trand_content {
    border: 3px solid rgba(117, 103, 62, 0.6);
    padding: 36px 37px 34px 32px;
    margin: 5% 5% 5% 5%;
    z-index: 2;
}

.trand_topic {
    margin-top:5px;
}

.trand_topic:hover {
    color: #b59f5b;
}

