.header {
background-image: url('../images/banner-bg.jpg');
background-repeat: no-repeat;
background-size: cover;
}

.menu_box {
    display: none;
}

.burger-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 53px;
    right: 15px;
}

.first_line, .second_line, .third_line {
    width: 23px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
    transition: 0.4s;
}